<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon">
    {% block title %}
        <title>CASA CRIATIVA</title>
    {% endblock title %}
    
    {% include "head.html" %}
    
</head>
<body id="{{bodyId}}">
    <div id="container">
        {% block content %}
        {% endblock %}
    </div>
    
    {% include "modal.html" %}
    

    <script src="./script.js"></script>
</body>
</html>